
extend layout
block content
  p
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
  p
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
    | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 

block sidebar
  .widget
    h1 Widget
    p
      | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
      | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 

    p
      | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
      | Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
      
